@font-face {
    font-family: 'Iccomoon';
    src: url('./Fonts/NGSwv5HMAFg6IuGlBNMjxLsH8ag.woff2');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Iccomoon';
    background-color: #0E0F0F;
}

/* <======================================== Color Code ========================================> */

/* #C3C2AD */
/* #F6F4DA */

/* <======================================== Navbar Code ========================================> */

nav{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #f6f4da30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.logo{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h1{
    color: #F6F4DA;
    font-weight: 400;
    font-size: 30px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li{
    margin: 0px 20px;
}
nav ul li a{
    color: #F6F4DA;
    font-size: 18px;
    text-decoration: none;
}
nav ul li:nth-child(6){
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(195, 194, 173, 1) 0%, rgba(246, 244, 218, 1) 100%);
    width: 120px;
    height: 50px;
    border-radius: 50px;
}
nav ul li:nth-child(6) a{
    color: black;
    font-weight: 600;
    transition: .5s ease;
}

/* <======================================== Herobox Code ========================================> */

.herobox{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content span{
    color:#C3C2AD;
    font-size: 18px;
    opacity: 80%;
}
.content h1{
    color: #C3C2AD;
    font-size: 54px;
    width: 60%;
    font-weight: 400;
    margin-top: 10px;
}
.content p{
    color: #C3C2AD;
    width: 45%;
    line-height: 25px;
    margin-top: 15px;
    opacity: 80%;
}
.buttons{
    width: 400px;
    height: 60px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons a.active{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    font-weight: 500;
    height: 50px;
    background: linear-gradient(90deg, rgba(195, 194, 173, 1) 0%, rgba(246, 244, 218, 1) 100%);
    color: black;
    text-decoration: none;
    border-radius: 50px;
}
.buttons a{
    text-decoration: none;
    color: #C3C2AD;
    font-weight: 600;
    font-size: 20px;
}
.buttons a i{
    font-size: 20px;
    margin: 0px 10px;
    font-weight: 200;
}
.image{
    height: 100%;
}
.image-container{
    width: 350px;
    height: 500px;
    background-image: url('./Images/1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 300px;
}

.identity-1{
    width: 170px;
    height: 55px;
    position: absolute;
    right: 25%;
}
.identity-1 a{
    text-decoration: none;
    width: 150px;
    height: 30px;
    background-color: #F6F4DA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    position: absolute;
    bottom: 0%;
}
.identity-1 i{
    color: rgb(255, 217, 0);
    font-size: larger;
    position: absolute;
    top: 0%;
    right: 0%;
}



.identity-2{
    width: 170px;
    height: 55px;
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.identity-2 a{
    text-decoration: none;
    width: 150px;
    height: 30px;
    background-color: #F6F4DA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.identity-2 i{
    color: rgb(255, 217, 0);
    font-size: larger;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: rotate(-90deg);
}

/* #C3C2AD */
/* #F6F4DA */